.no-found-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;

    position: fixed;
    top:0;
    left: 0;

    flex-direction: column;
    gap: 2em;
    transform: scale(1.3);
}
.back_btn{
    padding: .5em 2em;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 5px;
}
.line-noFound{
    font-size: 3em;
}
.contaier_gif{
    overflow: hidden;
    border-radius: 100%;
    width: 280px;
    height: 280px;
    
}
.contaier_gif>img{
    object-fit: cover;
    object-position: -70px;
}